@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

header{
    background-color: blue;
    height: 80px;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.content_container{
    height: 100vh;
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: column;
}

.side_menu{
    height: 100%;
    width: 300px;
    background-color: blue;
}

.side_menu > #account_info{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.side_menu > #account_info > p{
    font-size: large;
}
.side_menu > .menu{
    width: 100%;
}

.side_menu > .menu > .item{
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    cursor: pointer;
} 

.side_menu > .menu > .item:hover{
    background-color: #ffffff9a;
}


.side_menu > .menu > .selected{
    background-color: #ffffff9a;
    border-radius: 20px 0px 0px 20px;
    width: calc(100% - 10px);
    margin-left: 10px;
}


.side_menu > .menu > .item > a{
    text-decoration: none;
    color: white;
}

.side_menu > .menu > .item > img{
    width: 20px;
    height: 20px;
}


.content_container > .content{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.content_container > .content > .tile{
    width: 300px;
    height: 300px;
    background-color: blue;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
}


.content_container > .content > .tile:hover{
    box-shadow: -5px 5px 10px gray;
}


.content_container > .content > .tile:active{
    width: 290px;
    height: 290px;
    margin: 5px;
}
